rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /posts/{postId} {
      allow read: if true;

      allow create: if 
        request.resource.data.user is string &&
        request.resource.data.content is string &&
        request.resource.data.content.size() < 1000;

      allow update: if true;   // untuk like
      allow delete: if true;   // kamu ada tombol hapus
    }

    match /posts/{postId}/comments/{commentId} {
      allow read: if true;

      allow create: if 
        request.resource.data.text is string &&
        request.resource.data.text.size() < 300;

      allow delete: if true;
      allow update: if false;
    }

    match /posts/{postId}/comments/{commentId}/replies/{replyId} {
      allow read: if true;

      allow create: if 
        request.resource.data.text is string &&
        request.resource.data.text.size() < 300;

      allow delete: if false;
      allow update: if false;
    }

  }
}